{% extends 'misc/base.html' %}

{% load static %}

{% block upper_title %}About{% endblock %}
{% block lower_title %}Root Digital league{% endblock %}

{% block title_page_prefix %}About | {% endblock %}

{% block content %}

<p>
Welcome to the new online home and digital record of <strong>Root Digital League</strong>! We are an online community passionate about <a href="https://ledergames.com/products/root-a-game-of-woodland-might-and-right">Root</a> from <a href="https://ledergames.com/">Leder Games</a>. We gather in the <a href="https://discord.com/invite/woodland-warriors-476234833572397056">Woodland Warriors</a> Discord server to arrange games, and all league play happens in Root Digital (from <a href="https://www.direwolfdigital.com/">Dire Wolf</a>) available through your favorite app store, as well as on <a href="https://store.steampowered.com/app/965580/Root/">Steam</a>.
</p>

<p>
    <strong>Root Digital League</strong> games are <u>informal and fun, and can be highly competitive and entertaining</u>. They are organized over the length of an established season and results are reported and tracked here on this site. There are season awards, occasional tournaments, and the best part is our players must observe our community rules, which includes playing games out to the bitterest end (no quitting)!
</p>

<p>
    <strong>Root Digital League</strong> began in May 2021, and more than 9,000 games have been played since. The league is administered by an ardent group of players, including <strong>Lisapoo</strong> (aka <em>Maestresse of the FunHouse</em>), <strong>Pliskin</strong> (who created our mighty WW game bot as well as this remarkable new DB for recording our play), <strong>Mouseman</strong> (league friend who helps us track and analyze our results), <strong>Zwack</strong> (league ombudsman who will likely be the first to answer your league questions in the chat), <strong>Tad604</strong> (who provided the creative force behind our previous game form), and <strong>Geomorgski</strong> (who has helped us to organize some wicked fun tournaments).
</p>

<p>
We offer sincere hat tips to the amazing <strong>Guerric</strong> (our generous WW liaison), <strong>Matt</strong> (Leder’s online community manager), and of course the FunHouse Family brain trust (including <strong>Gregoola</strong>, <strong>Kaznar</strong> and more), as well as <strong>TheDarktrooper</strong>, who launched the original league.

</p>

<p>
Finally, we dedicate this site to our beloved ambassador <strong>t1mothy</strong>, the mighty cat warrior who departed the woodland in 2024, but whose impact on the community is enduring.
</p>

{% endblock %}
