{% extends 'misc/base.html' %}

{% load i18n %}

{% load crispy_forms_tags %}

{% block upper_title %}{{ upper_title }}{% endblock %}
{% block lower_title %}{{ lower_title }}{% endblock %}

{% block content %}
{% crispy form %}

{% block form_footer_wrapper %}
    {% if form_footer_defined %}
    <div class="container footer text-faded py-2">
        <p class="m-0 small">
    {% endif %}
        {% block form_footer %}{% endblock %}
    {% if form_footer_defined %}
        </p>
    </div>
    {% endif %}
{% endblock form_footer_wrapper%}
{% endblock content %}