*.txt                                          diff
*.py                                           diff
*.html                                         diff
*.js                                           diff