{% extends 'misc/base.html' %}

{% load i18n %}

{% load static %}

{% block upper_title %}{{_("Leaderboard")}}{% endblock %}
{% block lower_title %}{{ title }}{% endblock %}

{% block title_wrapper %}
  {% with prefix_title=_("Leaderboard")|add:" | "|add:title|add:" | " %}
    {{ block.super }}
  {% endwith %}
{% endblock title_wrapper %} 

{% block extra-css %}
{% for filter in filters %}
  {{filter.form.media.css}}
{% endfor %}
{% endblock %}

{% block content %}

{% include 'misc/dropdown_menu.html' with parent=league
                                          parents=leagues
                                          empty_parent=_('No league selected')
                                          parent_url='league:league_leaderboard'
                                          all_parents=_('All Leagues')
                                          all_parents_url=global_url
                                          child=season
                                          children=seasons
                                          empty_child=_('No tournament selected')
                                          all_children=_('All Seasons')
                                          child_url='league:tournament_leaderboard'
                                          url_get_param='' only %}

{% include 'misc/filters.html' with filters=filters only %}

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">{{_("Player")}}</th>
      <th scope="col">{{_("Total Games")}}</th>
      <th scope="col">{{_("Total Score")}}</th>
      <th scope="col">{{_("Relative Score")}}</th>
    </tr>
  </thead>
  <tbody>
    {% if page_obj.paginator.count > 0 %}
      {% for player in page_obj  %}
      <tr>
        <th scope="row">{{ page_obj.start_index|add:forloop.counter0 }}</th>
        <td>{{ player }}</td>
        <td>{{ player.total }}</td>
        <td>{{ player.score|floatformat:"-1" }}</td>
        <td>{{ player.relative_score|floatformat:"-2" }} %</td>
      </tr>
      {% endfor %}
    {% else %}
      <tr>
        <th scope="row" colspan="5" class="text-center">{{ _("No players above the threshold.") }}</th>
      </tr>
    {% endif%}
  </tbody>
</table>
</div>

<br />

<table class="table table-borderless">
  <tbody>
    <tr class="table-active">
      <th scope="row">{{_("Minimum threshold")}}</th>
      <td>{{ min_games }} {{_("game(s)")}}</td>
    </tr>
    {% if max_games %}
    <tr class="table-active">
      <th scope="row">{{_("Maximum threshold")}}</th>
      <td>{{ max_games }} {{_("game(s)")}}</td>
    </tr>
    {% endif %}
  </tbody>
</table>

<br />

{% include 'misc/pagination.html' %}
{% endblock %}

{% block extra-js %}
{% for filter in filters %}
  {{filter.form.media.js}}
{% endfor %}

  <script src="{% static 'misc/js/modal-select2.js' %}"></script>
{% endblock %}
