{% extends 'misc/base.html' %}

{% load i18n %}

{% block content %}
<h2 class="section-heading mb-4">
    <span class="section-heading-upper">{{_("Leaderboard")}}</span>
    <span class="section-heading-lower">{{ title }}</span>
</h2>

{% include 'misc/menu_by_pagination.html' with parent_obj=league parent_title=_('All Seasons') parent_url='league:league_leaderboard' paginator=season_paginator page_obj=season_page paginator_range=season_range objects=seasons obj_url='league:tournament_leaderboard' only %}

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">{{_("Player")}}</th>
      <th scope="col">{{_("Total Games")}}</th>
      <th scope="col">{{_("Total Score")}}</th>
      <th scope="col">{{_("Relative Score")}}</th>
    </tr>
  </thead>
  <tbody>
    {% for player in page_obj  %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ player }}</td>
      <td>{{ player.total }}</td>
      <td>{{ player.score|floatformat:"-1" }}</td>
      <td>{{ player.relative_score|floatformat:"-2" }} %</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<table class="table table-striped">
  <tbody>
    <tr>
      <th scope="row">{{_("Minimum threshold")}}</th>
      <td>{{ min_games }} {{_("game(s)")}}</td>
    </tr>
  </tbody>
</table>

{% include 'misc/pagination.html' %}
{% endblock %}
