{% extends 'misc/base.html' %}

{% load i18n %}

{% block upper_title %}{{_("Leaderboard")}}{% endblock %}
{% block lower_title %}{{ title }}{% endblock %}

{% block content %}

{% include 'misc/menu_by_pagination.html' with parent_obj=league parent_title=_('All Seasons') parent_url='league:league_leaderboard' paginator=season_paginator page_obj=season_page paginator_range=season_range objects=seasons obj_url='league:tournament_leaderboard' url_get_param="" only %}

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">{{_("Player")}}</th>
      <th scope="col">{{_("Total Games")}}</th>
      <th scope="col">{{_("Total Score")}}</th>
      <th scope="col">{{_("Relative Score")}}</th>
    </tr>
  </thead>
  <tbody>
    {% if page_obj.paginator.count > 0 %}
      {% for player in page_obj  %}
      <tr>
        <th scope="row">{{ page_obj.start_index|add:forloop.counter0 }}</th>
        <td>{{ player }}</td>
        <td>{{ player.total }}</td>
        <td>{{ player.score|floatformat:"-1" }}</td>
        <td>{{ player.relative_score|floatformat:"-2" }} %</td>
      </tr>
      {% endfor %}
    {% else %}
      <tr>
        <th scope="row" colspan="5" class="text-center">{{ _("No players above the threshold.") }}</th>
      </tr>
    {% endif%}
  </tbody>
</table>
</div>

<table class="table table-striped">
  <tbody>
    <tr>
      <th scope="row">{{_("Minimum threshold")}}</th>
      <td>{{ min_games }} {{_("game(s)")}}</td>
    </tr>
  </tbody>
</table>

{% include 'misc/pagination.html' %}
{% endblock %}
