{% extends 'misc/base.html' %}

{% load i18n %}

{% load crispy_forms_tags %}

{% block extra-css %}
  {{player_form.media.css}}
{% endblock %}

{% block upper_title %}{{ stats_title }}{% endblock %}
{% block lower_title %}{{ title }}{% endblock %}

{% block content %}

{% include 'misc/dropdown_menu.html' with parent=league
                                          parents=leagues
                                          empty_parent=_('No league selected')
                                          parent_url=league_url
                                          child=season
                                          children=seasons
                                          empty_child=_('No tournament selected')
                                          all_children=_('All Seasons')
                                          child_url=tournament_url
                                          url_get_param=player_get_param only %}

{% crispy player_form %}

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">{{ stats_name }}</th>
      <th scope="col">{{_("Total Games")}}</th>
      <th scope="col">{{_("Total Score")}}</th>
      <th scope="col">{{_("Relative Score")}}</th>
    </tr>
  </thead>
  <tbody>
    {% for row in stats.values  %}
    <tr>
      <th scope="row">{{ row.name }}</th>
      <td>{{ row.total }}</td>
      <td>
        {% if row.score != None %}
        {{ row.score|floatformat:"-1" }}
        {% endif %}
      </td>
      <td>
        {% if row.relative_score != None %}
        {{ row.relative_score|floatformat:"-2" }} %
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}

{% block extra-js %}
  {{player_form.media.js}}
{% endblock %}