{% extends 'misc/base.html' %}

{% load i18n %}

{% load crispy_forms_tags %}

{% block extra-css %}
  {{player_form.media.css}}
{% endblock %}

{% block upper_title %}{{ stats_title }}{% endblock %}
{% block lower_title %}{{ title }}{% endblock %}

{% block title_page_prefix %}{{ stats_title }} | {{ title }} | {% endblock %}

{% block content %}

{% include 'misc/dropdown_menu.html' with parent=league
                                          parents=leagues
                                          empty_parent=_('No league selected')
                                          parent_url=league_url
                                          all_parents=_('All Leagues')
                                          all_parents_url=global_url
                                          child=season
                                          children=seasons
                                          empty_child=_('No tournament selected')
                                          all_children=_('All Seasons')
                                          child_url=tournament_url
                                          url_get_param=player_get_param only %}

{% crispy player_form %}

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">
        {% include 'misc/sorting.html' with name=stats_name
                                            sorted=sort_helper.is_sorted_by_name
                                            sort_type=sort_helper.initial_sort_type
                                            url_sort=url_sort
                                            url_sort_arg=url_sort_arg
                                            url_get_asc=sort_helper.get_sort_query_by_name_asc
                                            url_get_desc=sort_helper.get_sort_query_by_name_desc only %}
      </th>
      <th scope="col">
        {% include 'misc/sorting.html' with name=_("Total Games")
                                            sorted=sort_helper.is_sorted_by_total
                                            sort_type=sort_helper.initial_sort_type
                                            url_sort=url_sort
                                            url_sort_arg=url_sort_arg
                                            url_get_asc=sort_helper.get_sort_query_by_total_asc
                                            url_get_desc=sort_helper.get_sort_query_by_total_desc only %}
      </th>
      <th scope="col">
        {% include 'misc/sorting.html' with name=_("Total Score")
                                            sorted=sort_helper.is_sorted_by_score
                                            sort_type=sort_helper.initial_sort_type
                                            url_sort=url_sort
                                            url_sort_arg=url_sort_arg
                                            url_get_asc=sort_helper.get_sort_query_by_score_asc
                                            url_get_desc=sort_helper.get_sort_query_by_score_desc only %}
      </th>
      <th scope="col">
        {% include 'misc/sorting.html' with name=_("Relative Score")
                                            sorted=sort_helper.is_sorted_by_relative_score
                                            sort_type=sort_helper.initial_sort_type
                                            url_sort=url_sort
                                            url_sort_arg=url_sort_arg
                                            url_get_asc=sort_helper.get_sort_query_by_relative_score_asc
                                            url_get_desc=sort_helper.get_sort_query_by_relative_score_desc only %}
      </th>
      {% if with_game_score %}
      <th scope="col">
        {% include 'misc/sorting.html' with name=_("Average Game Score")
                                            sorted=sort_helper.is_sorted_by_average_game_score
                                            sort_type=sort_helper.initial_sort_type
                                            url_sort=url_sort
                                            url_sort_arg=url_sort_arg
                                            url_get_asc=sort_helper.get_sort_query_by_average_game_score_asc
                                            url_get_desc=sort_helper.get_sort_query_by_average_game_score_desc only %}
      </th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for row in stats  %}
    <tr>
      <th scope="row">{{ row.name }}</th>
      <td>{{ row.total }}</td>
      <td>
        {% if row.score != None %}
        {{ row.score|floatformat:"-1" }}
        {% endif %}
      </td>
      <td>
        {% if row.relative_score != None %}
        {{ row.relative_score|floatformat:"-2" }} %
        {% endif %}
      </td>
      {% if with_game_score %}
      <td>
        {% if row.average_game_score != None %}
        {{ row.average_game_score|floatformat:"-1" }}
        {% endif %}
      </td>
      {% endif %}
    </tr>
    {% empty %}
    <tr>
      <th scope="row" colspan="{% if with_game_score %}5{% else %}4{% endif %}" class="text-center">{{ _("Nothing to display.") }}</th>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}

{% block extra-js %}
  {{player_form.media.js}}
{% endblock %}