{% extends 'matchmaking/base.html' %}

{% load static %}

{% block content %}
        <section class="page-section about-heading">
            <div class="container">
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <div class="bg-medium rounded p-5">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-upper">Match listing</span>
                                    <span class="section-heading-lower">{{ list_title }}</span>
                                </h2>
                                {% include 'matchmaking/search_form.html' %}
                                <ul>
                                {% for match in matchs %}
                                    <li><a href="{% url 'matchmaking:match_details' match_id=match.id %}">{{ match.title }}</a></li>
                                {% endfor %}
                                </ul>
                                <div class="clearfix"></div>
                                {% if paginate %}
                                <nav aria-label="...">
                                  <ul class="pager">
                                    {% if matchs.has_previous %}
                                        <li><a href="?page={{ matchs.previous_page_number }}">Previous</a></li>
                                    {% endif %}
                                    {% if matchs.has_next %}
                                        <li><a href="?page={{ matchs.next_page_number }}">Next</a></li>
                                    {% endif %}
                                  </ul>
                                </nav>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
