{% extends 'base.html' %}

{% load static %}

{% load i18n %}

{% load crispy_forms_tags %}

{% block extra-css %}
{% for formset in inlines %}
  {{formset.media.css}}
{% endfor %}
{% endblock %}

{% block content %}
<h2 class="section-heading mb-4">
    <span class="section-heading-upper">{{_("Register match")}}</span>
    <span class="section-heading-lower">{{_("Form")}}</span>
</h2>
{% for formset in inlines %}
  {{ formset|as_crispy_errors }}
{% endfor %}
{% crispy form %}
{% endblock %}

{% block extra-js %}
{% for formset in inlines %}
  {{formset.media.js}}
{% endfor %}
    <!-- Include Django Crispy Formset Modal's JS -->
    <script src="{% static 'crispy_formset_modal/js/crispy-formset-modal.min.js' %}"></script>
    
{% endblock %}

