{% extends 'misc/base.html' %}

{% load i18n %}

{% block upper_title %}{{_("Match listing")}}{% endblock %}
{% block lower_title %}{{ title }}{% endblock %}

{% block content %}

{% if display_search %}
{% include 'matchmaking/search_form.html' %}
{% endif %}

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">{{_("Date")}}</th>
      <th scope="col">{{_("Title")}}</th>
      <th scope="col">{{_("Tournament")}}</th>
      <th scope="col">{{_("Players")}}</th>
      {% comment %} <th scope="col">{{_("Map")}}</th>
      <th scope="col">{{_("Deck")}}</th> {% endcomment %}
      <th scope="col">{{_("Winner(s)")}}</th>
    </tr>
  </thead>
  <tbody>
  {% if page_obj.paginator.count > 0 %}
    {% for match in page_obj %}
    <tr>
      <th scope="row">
        <a href="{% url 'match:match_detail' match_id=match.id %}">
          {% if match.date_closed %}
          {{ match.date_closed }}
          {% else %}
          In progress
          {% endif %}
        </a>
      </th>
      <td>{{ match.title }}</td>
      <td>
        {% if match.tournament != None %}
        {{ match.tournament }}
        {% endif %}
      </td>
      <td>
      {% for participant in match.participants.all %}
          {% if participant.player %}
              {{ participant.player }}
          {% else %}
              {{ participant }}
          {% endif %}
      {% endfor %}
      </td>
      {% comment %} <td>{{ match.get_board_map_display }}</td>
      <td>{{ match.get_deck_display }}</td> {% endcomment %}
      <td>
      {% for participant in match.participants.all %}
          {% if participant.tournament_score > 0 %}
              {% if participant.player %}
                  {{ participant.player }}
              {% else %}
                  {{ participant }}
              {% endif %}
          {% endif %}
      {% endfor %}
      </td>
    </tr>
    {% endfor %}
  {% else %}
    <tr>
      <th scope="row" colspan="5" class="text-center">{{ _("No games found.") }}</th>
    </tr>
  {% endif%}
  </tbody>
</table>
</div>

{% include 'misc/pagination.html' %}
{% endblock %}
