{% extends 'misc/base.html' %}

{% load static %}

{% load i18n %}

{% load custom_tags %}

{% block upper_title %}{{_("Match listing")}}{% endblock %}
{% block lower_title %}{{ title }}{% endblock %}

{% block title_wrapper %}
  {% with prefix_title=_("Match listing")|add:" | "|add:title|add:" | " %}
    {{ block.super }}
  {% endwith %}
{% endblock title_wrapper %} 

{% block content %}

{% if display_league_menu %}
{% include 'misc/dropdown_menu.html' with parent=league
                                          parents=leagues
                                          empty_parent=_('No league selected')
                                          parent_url=league_url
                                          all_parents=_('All Leagues')
                                          all_parents_url=global_url
                                          child=season
                                          children=seasons
                                          empty_child=_('No tournament selected')
                                          all_children=_('All Seasons')
                                          child_url=tournament_url
                                          url_get_param='' only %}
{% endif %}

{% if display_search %}
{% include 'misc/search_form.html' with url_search=url_search
                                        url_search_arg=url_search_arg
                                        search_placeholder=search_placeholder
                                        search_query=search_query only %}
{% endif %}

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">{{_("Date")}}</th>
      {% if display_edit %}
      <th scope="col">{{_("Edit")}}</th>
      {% endif %}
      <th scope="col">{{_("Title")}}</th>
      <th scope="col">{{_("Tournament")}}</th>
      <th scope="col">{{_("Players")}}</th>
      {% comment %} <th scope="col">{{_("Map")}}</th>
      <th scope="col">{{_("Deck")}}</th> {% endcomment %}
      <th scope="col">{{_("Winner(s)")}}</th>
    </tr>
  </thead>
  <tbody>
  {% if page_obj.paginator.count > 0 %}
    {% for match in page_obj %}
    <tr>
      <th scope="row">
        <a href="{{ match.get_absolute_url }}">
          {% if match.date_closed %}
          {{ match.date_closed }}
          {% else %}
          In progress
          {% endif %}
        </a>
      </th>
      {% if display_edit %}
      <td>
        {% if display_edit|dict_value:match.id %}
        <a title="{{_("Update results")}}" href="{% url 'match:update' match.id %}">
          <img src="{% static 'admin/img/icon-changelink.svg' %}" alt="" width="20" height="20">
        </a>
        <a title="{{_("Delete match")}}" href="{% url 'match:delete' match.id %}">
          <img src="{% static 'admin/img/icon-deletelink.svg' %}" alt="" width="20" height="20">
        </a>
        {% endif %}
      </td>
      {% endif %}
      <td>{{ match.title }}</td>
      <td>
        {% if match.tournament != None %}
        {{ match.tournament }}
        {% endif %}
      </td>
      <td>
      {% for participant in match.participants.all %}
          {% if participant.player %}
              {{ participant.player }}
          {% else %}
              {{ participant }}
          {% endif %}
      {% endfor %}
      </td>
      {% comment %} <td>{{ match.get_board_map_display }}</td>
      <td>{{ match.get_deck_display }}</td> {% endcomment %}
      <td>
      {% for participant in match.participants.all %}
          {% if participant.tournament_score > 0 %}
              {% if participant.player %}
                  {{ participant.player }}
              {% else %}
                  {{ participant }}
              {% endif %}
          {% endif %}
      {% endfor %}
      </td>
    </tr>
    {% endfor %}
  {% else %}
    <tr>
      <th scope="row" colspan="5" class="text-center">{{ _("No games found.") }}</th>
    </tr>
  {% endif%}
  </tbody>
</table>
</div>

{% include 'misc/pagination.html' %}
{% endblock %}
