{% extends 'matchmaking/match_list.html' %}

{% load i18n %}

{% load static %}

{% load crispy_forms_tags %}

{% block extra-css %}
{% for filter in filters %}
  {{filter.form.media.css}}
{% endfor %}
{% endblock %}

{% block content_header %}

{% include 'misc/filters.html' with filters=filters only %}

<h1>{{ _("Summary") }}</h1>

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">
        {{_("Total")}}
      </th>
      <th scope="col">
        {{_("Total Score")}}
      </th>
      <th scope="col">
        {{_("Relative Score")}}
      </th>
      <th scope="col">
        {{_("Total Dominances")}}
      </th>
      <th scope="col">
        {{_("Total Dominance Score")}}
      </th>
      <th scope="col">
        {{_("Relative Dominance Score")}}
      </th>
      <th scope="col">
        {{_("Total Coalitions")}}
      </th>
      <th scope="col">
        {{_("Total Coalition Score")}}
      </th>
      <th scope="col">
        {{_("Relative Coalition Score")}}
      </th>
    </tr>
  </thead>
  <tbody>
    {% if stats.total %}
    <tr>
      <th scope="row">{{ stats.total }}</th>
      <td>
        {% if stats.total_score != None %}
        {{ stats.total_score|floatformat:"-1" }}
        {% endif %}
      </td>
      <td>
        {% if stats.relative_score != None %}
        {{ stats.relative_score|floatformat:"-2" }} %
        {% endif %}
      </td>
      <td>{{ stats.total_dom }}</td>
      <td>
        {% if stats.dom_score != None %}
        {{ stats.dom_score|floatformat:"-1" }}
        {% endif %}
      </td>
      <td>
        {% if stats.relative_dom_score != None %}
        {{ stats.relative_dom_score|floatformat:"-2" }} %
        {% endif %}
      </td>
      <td>{{ stats.total_coal }}</td>
      <td>
        {% if stats.coal_score != None %}
        {{ stats.coal_score|floatformat:"-1" }}
        {% endif %}
      </td>
      <td>
        {% if stats.relative_coal_score != None %}
        {{ stats.relative_coal_score|floatformat:"-2" }} %
        {% endif %}
      </td>
    </tr>
    {% else %}
    <tr>
      <th scope="row" colspan="9" class="text-center">{{ _("Nothing to display.") }}</th>
    </tr>
    {% endif %}
  </tbody>
</table>
</div>

<br />

<h1>{{ _("Matches") }}</h1>

{% endblock content_header %}

{% block extra-js %}
{% for filter in filters %}
  {{filter.form.media.js}}
{% endfor %}

  <script src="{% static 'misc/js/modal-select2.js' %}"></script>
{% endblock %}