{% extends 'misc/base.html' %}

{% load static %}

{% load i18n %}

{% load custom_tags %}

{% block upper_title %}{{_("Match details")}}{% endblock %}
{% block lower_title %}{{ object.title }}{% endblock %}

{% block content %}
<table class="table table-striped">
  <tbody>
    <tr>
      <th scope="row">{{_("Date registered")}}</th>
      <td>{{ object.date_registered }}</td>
    </tr>
    {% if object.date_closed %}
    <tr>
      <th scope="row">{{_("Date closed")}}</th>
      <td>{{ object.date_closed }}</td>
    </tr>
    {% endif %}
    {% if object.tournament %}
    <tr>
      <th scope="row">{{_("Tournament")}}</th>
      <td>{{ object.tournament }}</td>
    </tr>
    {% endif %}
    <tr>
      <th scope="row">{{_("Setup")}}</th>
      <td>{{ object.get_game_setup_display }}</td>
    </tr>
    <tr>
      <th scope="row">{{_("Table talk")}}</th>
      <td>{{ object.get_table_talk_display }}</td>
    </tr>
    {% if object.table_talk_url %}
    <tr>
      <th scope="row">{{_("Table talk URL")}}</th>
      <td><a href="{{ object.table_talk_url }}">{{ object.table_talk_url }}</a></td>
    </tr>
    {% endif %}
    <tr>
      <th scope="row">{{_("Deck")}}</th>
      <td>{{ object.get_deck_display }}</td>
    </tr>
    <tr>
      <th scope="row">{{_("Map")}}</th>
      <td>
      {{ object.get_board_map_display }}
      {% if object.random_suits %}
      ({{_("random suits")}})
      {% endif %}
      </td>
    </tr>
    <tr>
      <th scope="row">{{_("Undrafted faction")}}</th>
      <td>{{ object.get_undrafted_faction_display }}</td>
    </tr>
  </tbody>
</table>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">{{_("Turn order")}}</th>
      <th scope="col">{{_("Player")}}</th>
      <th scope="col">{{_("Faction")}}</th>
      <th scope="col">{{_("Game score")}}</th>
      <th scope="col">{{_("Tournament score")}}</th>
    </tr>
  </thead>
  <tbody>
    {% for participant in object.participants.all|sort_by:"turn_order" %}
    <tr>
      <th scope="row">
      {% if participant.turn_order != None %}
          {{ participant.get_turn_order_display }}
      {% endif %}
      </th>
      <td>
          {% if participant.player %}
              {{ participant.player }}
          {% else %}
              {{ participant }}
          {% endif %}
      </td>
      <td>{{ participant.get_faction_display }}</td>
      <td>
          {% if participant.dominance and participant.dominance != "" %}
              {{ participant.get_dominance_display }}
          {% elif participant.coalition %}
              {{_("Coalition with")}}
              {% if participant.coalition.player %}
                  {{ participant.coalition.player }}
              {% else %}
                  {{ participant.coalition }}
              {% endif %}
          {% elif participant.game_score != None %}
              {{ participant.game_score }}
          {% endif %}
      </td>
      <td>
      {% if participant.tournament_score != None %}
          {{ participant.tournament_score }}
      {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
