{% extends 'misc/base.html' %}

{% load i18n %}

{% block upper_title %}{{_("Match listing")}}{% endblock %}
{% block lower_title %}{{ title }}{% endblock %}

{% block content %}

{% include 'matchmaking/search_form.html' %}

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">{{_("Date")}}</th>
      <th scope="col">{{_("Tournament")}}</th>
      <th scope="col">{{_("Players")}}</th>
      <th scope="col">{{_("Map")}}</th>
      <th scope="col">{{_("Deck")}}</th>
      <th scope="col">{{_("Winner(s)")}}</th>
    </tr>
  </thead>
  <tbody>
    {% for match in page_obj %}
    <tr>
      <th scope="row"><a href="{% url 'match:match_detail' match_id=match.id %}">{{ match.date_registered }}</a></th>
      <td>
        {% if match.tournament != None %}
        {{ match.tournament }}
        {% endif %}
      </td>
      <td>
      {% for participant in match.participants.all %}
          {% if participant.player %}
              {{ participant.player }}
          {% else %}
              {{ participant }}
          {% endif %}
      {% endfor %}
      </td>
      <td>{{ match.get_board_map_display }}</td>
      <td>{{ match.get_deck_display }}</td>
      <td>
      {% for participant in match.participants.all %}
          {% if participant.tournament_score > 0 %}
              {% if participant.player %}
                  {{ participant.player }}
              {% else %}
                  {{ participant }}
              {% endif %}
          {% endif %}
      {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

{% include 'misc/pagination.html' %}
{% endblock %}
