{% extends 'misc/basic_form.html' %}

{% load static %}

{% load i18n %}

{% load flatpages %}

{% load crispy_forms_tags %}

{% block extra-css %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/ms-dropdown@4.0.3/dist/css/dd.min.css" />
{% for formset in inlines %}
  {{formset.media.css}}
{% endfor %}
{% endblock %}

{% block form_header %}

{% if form.is_valid %}
  {% for formset in inlines %}
    {{ formset|as_crispy_errors }}
  {% endfor %}
{% endif %}

{% get_flatpages '/about/rules/' for request.user as rules_pages  %}
{% if rules_pages  %}
  {% for rules_page in rules_pages %}
    {% if forloop.first %}
      <p>
        {% blocktrans with rules_url=rules_page.get_absolute_url %}
        Please make sure to read the <a href="{{ rules_url }}">rules</a> before submitting a game.
        {% endblocktrans %}
      </p>
    {% endif %}
  {% endfor %}
{% endif %}

{% endblock form_header %}

{% block extra-js %}

<script src="https://cdn.jsdelivr.net/npm/ms-dropdown@4.0.3/dist/js/dd.min.js"></script>

{% for formset in inlines %}
  {{formset.media.js}}
{% endfor %}

<!-- Include Django Crispy Formset Modal's JS -->
<script src="{% static 'crispy_formset_modal/js/crispy-formset-modal.min.js' %}"></script>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function () {
    if (typeof window.crispyFormsetModal !== "undefined") {

      window.crispyFormsetModal.onFormAdded = function (event) {
        $('.django-select2').djangoSelect2()
      };

      window.crispyFormsetModal.onModalFormOpened = function (modalForm) {
        $('.django-select2').djangoSelect2()
      };

    }
  });
</script>
{% endblock %}

