{% extends 'misc/basic_form.html' %}

{% load i18n %}

{% load crispy_forms_tags %}

{% block form_footer %}
{% blocktranslate %}You only need to register once! You already have an account?{% endblocktranslate %}
<a href="{% url 'auth:login' %}" class="btn btn-outline-primary">
    {% blocktranslate %}Log in{% endblocktranslate %}
</a>
{% endblock form_footer %}

{% block form_footer_wrapper %}
    {% with form_footer_defined=True %}
        {{ block.super }}
    {% endwith%}
{% endblock form_footer_wrapper%}