{% extends 'base.html' %}

{% load i18n %}

{% block content %}
<h2 class="section-heading mb-4">
    <span class="section-heading-upper">{{_("Leaderboard")}}</span>
    <span class="section-heading-lower">{{ title }}</span>
</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">{{_("Player")}}</th>
      <th scope="col">{{_("Score")}}</th>
    </tr>
  </thead>
  <tbody>
    {% for player in page_obj  %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ player }}</td>
      <td>{{ player.score }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include 'pagination.html' %}
{% endblock %}
