{% extends 'misc/base.html' %}

{% load static %}

{% load i18n %}

{% block upper_title %}{{ flatpage.title }}{% endblock %}
{% block lower_title %}{{ _("Root Digital League") }}{% endblock %}

{% block title_wrapper %}
  {% with prefix_title=flatpage.title|add:" | " %}
    {{ block.super }}
  {% endwith %}
{% endblock title_wrapper %} 

{% block content %}

{% if user.is_staff  %}
<div class="row row-cols-auto btn-group" role="group">
  <div class="dropdown col mx-auto">
    <a href="{% url 'admin:flatpages_flatpage_change' flatpage.id %}" class="btn btn-outline-info">
      {{ _('Admin page') }}
    </a>
  </div>
</div>

<br />
<br />
{% endif %}

{% block content_header %}
{% endblock content_header %}

<div id="content">
{{ flatpage.content }}
</div>

{% endblock %}
